// top wueue

.queue-tabBar {
  &-active {
    background-color: $card !important;
  }
  &-headerItemLink {
    color: $text !important;
  }
}

// details metadata
.main-entityTitle-subtitle.main-entityTitle-gray,
.main-entityHeader-metaDataText {
  color: $text !important;
}

.main-duration-container {
  color: var(--spice-subtext);
}

// inside a page edits
.main-addButton-button {
  color: var(--spice-subtext) !important;
}

.main-trackList-trackListRow.main-trackList-active {
  & .main-trackList-rowMarker {
    color: $subtext !important;
  }
}

.main-trackList-rowTitle {
  color: $text !important;

  .main-trackList-trackListRow.main-trackList-active & {
    color: $subtext !important;
  }
}

/* queue, album, recent, playlist, page edits */
.queue-queue-container,
.queue-playHistory-container {
  margin: 40px 60px !important;
}

.main-actionBar-ActionBar,
.x-actionBar-ActionBar {
  margin: 0 40px !important;
}

/* search page edits */

input {
  background-color: unset !important;
  border-bottom: solid 2px var(--spice-text) !important;
  border-radius: 0 !important;
  color: var(--spice-text) !important;
}

.x-833-searchInput-searchInputSearchIcon {
  color: var(--spice-text) !important;
}

.x-833-heroCategoryCard-heroTitle,
.x-833-categoryCard-title {
  color: var(--spice-main) !important;
}

/* menu and dropdown menus including the user menu */
.main-type-mesto,
.x-533-dropDown-dropDown {
  color: var(--spice-text) !important;
}

.main-userWidget-box {
  background-color: var(--spice-card) !important;
  border: unset !important;
  color: var(--spice-subtext) !important;
}

/* card edits */

.main-card-card {
  & a,
  & button {
    color: $extratext;
  }
  &:hover,
  &[data-context-menu-open="true"] {
    background-color: rgba(var(--spice-rgb-sec-card), 0.3) !important;
  }
}

.main-contextMenu-menu,
.main-card-card:focus-within,
.main-deletePlaylistDialog-container,
.main-aboutRecsModal-container {
  background-color: var(--spice-card) !important;
}

.main-deletePlaylistDialog-secondaryButton {
  color: var(--spice-text) !important;
}

.main-button-primary {
  background-color: var(--spice-sec-card) !important;
  color: var(--spice-card) !important;
}

.main-deletePlaylistDialog-title {
  color: var(--spice-subtext) !important;
}

.main-keyboardShortcutsHelpModal-container,
.main-trackCreditsModal-container {
  background-color: var(--spice-card) !important;
  color: var(--spice-text) !important;
}

.main-keyboardShortcutsHelpModal-header,
.main-trackCreditsModal-header {
  color: var(--spice-subtext) !important;
}

.main-type-canon {
  color: var(--spice-extratext) !important;
}
